.seccion_titulo-principal {
    margin-top: 40px;
    margin-bottom: 40px;
}
.linea-principal {
    border: 2px solid grey;
}

.imagen-principal {
    height: 600px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.item-img_carrito{
    height: 250px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(236, 236, 236);
}

.item-descripcion {
    font-size: 20px;
}

.item-nombre {
    font-size: 3rem;
}

.item-precio {
    font-size: 1.3rem;
}

.item-stock {
    font-size: 1rem;
}

.item-precio, .item-stock {
    font-weight: 600;
}

.item-contador {
    margin-bottom: 40px;
}

.seccion_titulo-principal_derecha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.seccion_titulo-principal_izquierda {
    display: flex;
    justify-content: flex-start;

}
