* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-expand-lg {
    background-color: #107C10 !important;
}

.navbar-brand {
    color: #fff !important;
    font-weight: 600;
    font-size: 24px;
}

.nav-link {
    color: #fff !important;
    margin-right: 16px;
}

.nav-link:hover {
    color:rgb(170, 168, 168) !important;
}

.nav-link-dropdown {
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.navbar-toggler {
    color: #fff;
}

@media screen and (min-width: 992px){

    .navbar-collapse {
        justify-content: flex-end !important;
    }
    
}